//LAYOUT
$containerWidth: 1170px;
$inner: 30px;
$gutterWidth: 20px;
$sectionGutterWidth: 60px;

// COLOR - BASE PALETTE
$white: #ffffff;
$grey1: #919295;
$grey2: #56565a;
$grey3: #ededed;
$grey4: #818181;
$darkblue: #002f5f;
$red: #ed174b;
$lightblue: #008fc5;

$alt-green: #27a348;
$alt-olive: #b9b309;
$alt-yellow: #fad000;
$alt-purple: #731472;
$alt-orange: #e99619;
$alt-brown: #9a8c7e;

//FONTS
$font-size-base: 18px;
$font-color: $grey2;

// COLOR - LEGACY
$color-twitter: #2daae2;
$color-facebook: #0c5fa1;
$color-instagram: #aa8165;
$color-youtube: #cc181e;