@import "variables";
@import "fonts";
@import "functions";
@import "mixins";
@import "reset";

//  ==========================================================================
//  Primary Styles
//  ==========================================================================
html {-webkit-font-smoothing: antialiased;}
body {background:$white; font-size:$font-size-base; color:$font-color; font-family:ITCFranklinGothicW01-Bk_812647;
	&.scroll-adjusted {padding-top:77px;}
@include breakpoint(mobile) {
	padding-top:50px;
}}
h1, h2, h3, h4 {color:$darkblue; margin-top:0; font-weight:normal;}
h1 {font-family:'Flood W03 It'; font-size:40px; line-height:46px;}
nav ul {margin:0; padding:0; list-style:none;}
a {text-decoration:none;}
button {border:none; background:$darkblue; text-transform:uppercase; font-family:ITCFranklinGothicW01-Hv_812689; color:$white; font-size:12px; line-height:50px; height:46px; padding:0 $gutterWidth;
	&:hover {background:$red;}
}
img {max-width:100%; height:auto;}
section {margin:$sectionGutterWidth 0;}
hr {background:$grey3; border:none; border-top:1px solid #f3f3f3; border-bottom:1px solid #fafafa;}

input {@include vendor(box-sizing, border-box); outline:none;}


//  ==========================================================================
//  Classes
//  ==========================================================================
.group {@include group;}
.grid {@extend .group; margin:0 -$gutterWidth/2;
	.col {float:left; @include vendor(box-sizing, border-box); width:100%; padding:$gutterWidth/2;}
	&.col-2 {
		.col {width:50%; padding:$gutterWidth/2;}
	}
	&.col-3 {
		.col {width:33.332%; padding:$gutterWidth/2;}
	}
	&.col-4 {
		.col {width:25%; padding:$gutterWidth/2;}
	}
	&.col-5 {
		.col {width:20%; padding:$gutterWidth/2;}
	}
@include breakpoint(mobile) {
	margin:0;
	&.col-2, &.col-3, &.col-4, &.col-5 {
		.col {width:100%; padding:0; margin:$sectionGutterWidth/2 0; float:none;
			&:first-child {margin-top:0;}
		}
	}
}}
section.grid {margin:$sectionGutterWidth (-$gutterWidth/2);}
.amway-panel {
	img {display:block; width:100%;}
	h3 {margin-top:$gutterWidth; margin-bottom:15px; font-size:30px; line-height:34px; text-transform:uppercase;}
	.content {border:1px solid $grey3; padding:$gutterWidth;
		h3 {margin-top:0}
	}
	&.side-by-side {position:relative;
		img {width:50%; float:left}
		.content {width:50%; float:left; border:none; padding:0 0 45px $gutterWidth; @include vendor(box-sizing, border-box);}
		button {position:absolute; bottom:$gutterWidth/2}
	}
@include breakpoint(mobile) {
	&.side-by-side {
		img {width:100%; float:none}
		.content {width:100%; float:none; padding:0;
			h3 {margin-top:10px;}
		}
		button {position:static;}
	}
}}
.container {width:100%; max-width:$containerWidth; margin:0 auto;}
.center {text-align:center;}

.green {background:$alt-green;}
.olive {background:$alt-olive;}
.yellow {background:$alt-yellow;}
.purple {background:$alt-purple;}
.orange {background:$alt-orange;}
.brown {background:$alt-brown;}

.green-text {color:$alt-green;}
.olive-text {color:$alt-olive;}
.yellow-text {color:$alt-yellow;}
.purple-text {color:$alt-purple;}
.orange-text {color:$alt-orange;}
.brown-text {color:$alt-brown;}

//  ==========================================================================
//  Layout
//  ==========================================================================
#site-header {position:relative; padding-top:80px; font-size:14px; background:red !important;
	#logo {position:absolute; left:50%; margin-left:-62px; top:30px; width:125px;}
	#menu-toggle, #mobile-menu-toggle {display:none;}
	.widgets {font-family:ITCFranklinGothicW01-Hv_812689; text-transform:uppercase; margin-bottom:0;
		a {color:$font-color; padding-left:15px;}
		.col.last {text-align:right;}
	}
	#mobile-menu-logo {display:none;}
	nav ul {@include group; width:100%; border-top:1px solid $grey1; position:relative;
		//Level one, menu bar
		li {float:left; display:block; font-family:ITCFranklinGothicW01-Bk_812647;
			a {height:48px; line-height:48px; padding:0 27px; color:$darkblue; text-decoration:none; display:block;
				&:hover {background:$red; color:#fff;}
			}
			&.back {display:none;}

			//Level two, mega-menu
			ul {z-index:100; width:100%; background:rgba(255, 255, 255, 0.93); position:absolute; left:0; border-top:4px solid $red; @include group; padding:$inner; display:none;
				//level three headings
				li {width:25%; float:left; font-family:ITCFranklinGothicW01-Dm_812668; text-transform:uppercase; color:$darkblue;
					//Level three lists
					ul {position:static; border:none; background:transparent; padding:0;
						li {float:none; width:100%; text-transform:none; font-family:ITCFranklinGothicW01-Bk_812647; margin-top:10px;
							&:first-child {margin-top:20px;}
							a {color:$font-color; padding:0; height:auto; line-height:20px; position:relative;
								&:before {width:0; height:0; opacity:0; display:inline-block; position:absolute; left:-18px; top:2px; content:''; border:6px solid transparent; border-left:12px solid $red; @include vendor(transition, all 0.3s)}
								&:hover {background:transparent; color:$darkblue;
									&:before {opacity:1;}
								}
							}
						}
					}
				}
			}
			&:hover ul {display:block;}
		}
	}
	#searchform {position:absolute; height:14px; overflow:hidden; background:#fff; padding:15px 14px 14px; margin-top:-15px; border-radius:2px; cursor:pointer;
		&.open {height:123px; box-shadow:0 0 8px -2px $grey1; z-index:200; cursor:default;
			.fa {cursor:pointer;}
		}
		input {border:1px solid $grey4; display:block; width:300px; height:45px; border-radius:4px; margin-top:20px; padding:0 15px;}
	}
	#hero {max-height:640px; position:relative; //overflow:hidden;
		img {width:100%; max-height:640px;}
		.content {position:absolute; width:100%; height:100%; left:0; text-align:center; top:160px;  z-index:10; color:#fff;
			h2 {color:#fff; margin:0; font-size:35px;}
			p {font-size:26px; max-width:50%; margin:1em auto;}
		}
		.slider img {max-height:640px;}
	}

	&.fixed {
		#searchform {margin-top:-14px;}
		#menu-toggle {display:block; position:absolute; left:0; bottom:-18px; color:$font-color; background:#fff; height:38px; line-height:43px; cursor:pointer; width:70px;}
		.container {position:fixed; z-index:90; top:0; max-width:100%; background:#fff; height:38px; padding:0;
			.widgets {@include container;
				.col {position:relative;
					#searchform {left:80px;}
				}
			}
			nav {@include container; max-width:100%; display:none; background:#fff; margin-top:-2px;
				>ul {@include container; border:none;}
				&.open {display:block;}
			}
			#logo {top:3px; height:30px;}
			#breadcrumbs {display:none;}
		}
	}

@include breakpoint(mobile) {padding:0;
	.container {padding:0; height:50px; position:fixed; background:#fff; z-index:500; top:0;
		.widgets {font-size:0px; padding:0 15px; position:relative; z-index:500;
			.col {margin:0;}
			i {font-size:20px; height:50px; width:50px; text-align:center; line-height:50px;}
		}
		#breadcrumbs {display:none;}
	}
	#logo {width:70px; top:15px; z-index:1; margin-left:-35px;}
	#mobile-menu-toggle {display:block; float:left; margin-left:11px; height:50px; width:50px; background:#fff; color:$font-color;
		&.fa-close {float:right;}
	}
	nav {position:absolute; width:100%; top:0; left:0; z-index:100; //display:none;
		ul {position:absolute !important; border:none !important; top:0; z-index:100; background:#fff; width:85%; left:-100%; @include vendor(transition, all .5s);
			li {float:none; border-bottom:1px solid $grey3; height:48px; line-height:48px; margin:0 !important;
				&.back {display:block;
					i {margin-right:10px;}
					&:after {display:none;}
				}
				&:after {position:absolute; right:28px; margin-top:-48px; @include font-awesome('\f105'); height:48px; line-height:48px;}
				ul {left:-100%; padding:0;
					li {padding:0 28px; @include vendor(box-sizing, border-box);
						&:after {margin-top:0;}
						ul li:after {margin-top:-48px;}
					}
				}
				a:hover {background:#fff !important; color:$darkblue !important;
					&:before {display:none !important;}
				}
				&:active, &:focus, &.active {background:$red;
					>a {background:$red !important;}
				}
			}
		}
		&.open {display:block;
			#mobile-menu-logo {display:inline-block;position: absolute; z-index:9999; width:107px; left:30px; top:8px;}
			ul:before {background:$grey3 /*url(../../images/amway-logo.svg) no-repeat 25px 10px*/; height:50px; width:100%; display:block; content:''}
			ul {height:2000px; overflow:auto;}
			>ul {left:0; @include vendor(box-shadow, 5px 0 15px rgba(0,0,0,0.5));
				ul {display:block; left:-100% !important; background:#fff; @include vendor(box-sizing, border-box); height:100%;
					&.open {left:0 !important; width:100%;} //@include vendor(box-shadow, 5px 0 15px rgba(0,0,0,0.5));
					li {float:none; width:100%; height:48px; line-height:48px; margin:0 !important; text-transform:none !important; font-family:ITCFranklinGothicW01-Bk_812647 !important;
						a {height:47px; line-height:48px; padding:0; color:$darkblue;}
					}
				}
			}
		}
	}
	#searchform {padding:0; height:50px; left:60px; margin-top:0;
		&.open {height:112px;}
		input {width:200px; margin:5px 10px; font-size:14px;}
	}
	#hero {
		.content {display:none;}
		.slider {
			li {overflow:hidden;
				//img {height:350px; width:auto; max-width:none; margin-left:-50%;}
			}
		}
	}
}}
#breadcrumbs {background:$grey3; height:48px; line-height:48px; margin:0; padding:0; list-style:none; font-size:14px; @extend .container; margin:0 auto;
	li {display:inline-block; margin-left:$gutterWidth; position:relative;
		&:before {content:'>'; position:absolute; left:-17px; top:-1px;}
		&:first-child:before {display:none;}
		a {color:$font-color;}
	}
}
#site-main {@include group;
	.intro p {width:50%; margin:1em auto;}
	a {color:$lightblue;
		&:hover {color:$red;}
	}
@include breakpoint(mobile) {padding:0 30px; width:auto;
	.intro p {width:100%;}
}}
#content {float:left;width:75%; margin-top:$sectionGutterWidth;
@include breakpoint(mobile) {
	float:none; width:100%;
}}
#sidebar {float:left;width:25%; margin-top:$sectionGutterWidth; box-sizing:border-box; padding-right:$inner;
	img {display:block; margin:0 auto $sectionGutterWidth auto;}
	li {
		a {display:block; padding:$gutterWidth; border-bottom:1px solid $grey3; color:$darkblue;
			&:after {@include font-awesome('\f107'); float:right;}
		}
		&.active a {border:none;
				&:after {@include font-awesome('\f106');}
			}
		&:first-child a {border-top:1px solid $grey3;}
		ul {
			li a {border:none; padding-left:$gutterWidth*2;
				&:after {display:none;}
			}
			li:first-child a {border:none;}
		}
		&.active ul li a:after {display:none;}
	}
@include breakpoint(mobile) {width:100%; left:0; position:absolute; top:88px; padding-top:60px; height:40px;overflow:hidden; padding-right:0; margin-top:12px;
	&:before {@include font-awesome('\f107'); position:absolute; top:15px; right:19px;}
	img {display:none;}
	&.open {height:auto;
		&:before {content:'\f106';}
		nav {background:#fff;}
	}
}}
#site-footer {@extend .container; font-size:11px; line-height:18px; /* margin-top:$sectionGutterWidth; */ padding:$sectionGutterWidth 0; border-top:1px solid $grey3;
	h4 {font-family:ITCFranklinGothicW01-Hv_812689; font-size:12px; line-height:16px; color:$font-color; text-transform:uppercase;}
	.copyright {margin:$gutterWidth 0;
		a {text-transform:capitalize; color:$grey1;
			&:before {content:'|'; margin:0 8px;};
		}
	}
	.contact {float:right; width:30%;
		ul, h4, p {max-width:100%; margin-left:0;}
		a {color:$darkblue;}
		img {display:block; margin:0 auto;}	
	}
	nav {@include group;
		>ul {float:left; width:70%;
			>li {float:left; width:33.32%;}
			ul {
				li a {text-transform:capitalize; color:$grey1;}
			}
		}
		.social {max-width:100%; margin-left:0; padding:0; list-style:none; display:inline-block; margin:10px 0;
			li {float:left;
				a:before {color:#fff; width:32px; height:32px; line-height:32px; text-align:center; display:block;}
				a.fa-facebook:before {background:$color-facebook;}
				a.fa-twitter:before {background:$color-twitter;}
				a.fa-youtube:before {background:$color-youtube;}
			}
		}
	}
@include breakpoint(mobile) {padding:0 30px 30px 30px; width:auto;
	.copyright { text-align:left; margin-bottom:0;
		a {display:block;
			&:before {display:none;}
		}
	}
	.contact {float:none; width:100%; margin-bottom:30px;}
	nav {margin:20px 0;
		>ul {float:none; width:100%; position:relative;
			&:before {box-shadow:-50px 0 15px 0 inset; content:''; height:100%; left:-30px; position:absolute; top:0; width:30px;}
			&:after {box-shadow:50px 0 15px 0 inset; content:''; height:100%; right:-30px; position:absolute; top:0; width:30px;}
			>li {float:none; width:auto; position:relative;
				h4 {background:$grey2; color:#fff; margin:0; width:100%; font-size:16px; padding:20px 0; @include vendor(box-sizing, border-box);
					&:after {@include font-awesome('\f107'); float:right;}
				}
				ul, p {display:none;}

				&.open {
					h4:after {content:'\f106';}
					ul, p {display:block;}
					ul {background:$grey1;
						li a {padding:15px 0; color:#fff; font-size:16px; display:block; position:relative;
							&:before {box-shadow:-50px 0 15px 0 $grey1 inset; content:''; height:100%; left:-30px; position:absolute; top:0; width:30px;}
							&:after {box-shadow:50px 0 15px 0 $grey1 inset; content:''; height:100%; right:-30px; position:absolute; top:0; width:30px; z-index:10;}
						}
					}
				}
			}
		}
		.social {margin-top:30px;}
	}
}}

//  ==========================================================================
//  Flexslider styles
//  ==========================================================================
.flex-control-paging {
	li a.flex-active {background:$darkblue;}
}
.slider {background:#fff !important;}
.green .flex-control-paging li a.flex-active {background:$alt-green;}
.olive .flex-control-paging li a.flex-active {background:$alt-olive;}
.yellow .flex-control-paging li a.flex-active {background:$alt-yellow;}
.purple .flex-control-paging li a.flex-active {background:$alt-purple;}
.orange .flex-control-paging li a.flex-active {background:$alt-orange;}
.brown .flex-control-paging li a.flex-active {background:$alt-brown;}

.flex-direction-nav {
	a.flex-prev {opacity:1; left:0; width:56px; height:56px; text-align:center; background:$grey2; font-size:0;
		&:before {@include font-awesome('\f104'); color:#fff; text-shadow:none; line-height:54px;}
	}
	a.flex-next {opacity:1; right:0; width:56px; height:56px; text-align:center; background:$grey2; font-size:0;
		&:before {@include font-awesome('\f105'); color:#fff; text-shadow:none; line-height:54px;}
	}
	a {display:none;}
}
.home .flex-direction-nav a {display:block;
@include breakpoint(mobile) {
	display:none;
}}

//  ==========================================================================
//  Print Styles
//  ==========================================================================
@media print {
	* { background:transparent !important;  color:#000 !important; box-shadow:none !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; } /* Black prints faster:h5bp.com/s */
	a, a:visited { text-decoration:underline; }
	a[href]:after { content:" (" attr(href) ")"; }
	abbr[title]:after { content:" (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }  /* Don't show links for images, or javascript/internal links */
	//pre, blockquote { border:1px solid $text-color-light; page-break-inside:avoid; }
	thead { display:table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside:avoid; }
	img { max-width:100% !important; }
	//@page { margin:0.5cm; }
	p, h2, h3 { orphans:3; widows:3; }
	h2, h3 { page-break-after:avoid; }
}



























